<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img id="logo" src="assets/img/stocky-logo.png" alt="App Logo" />
    </ion-title>
    <a (click)="logout()">Log out</a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="slides">
    <ion-slides pages>
      <ion-slide>
        <img src="assets/img/jordan1.jpg" alt="Jordan 1" />
        <p>Mint condition Jordan 1s.</p>
        <ion-select placeholder="Trade Options">
          <ion-select-option>First Option</ion-select-option>
          <ion-select-option>Second Option</ion-select-option>
        </ion-select>
        <ion-button (click)="createTrade()">Trade</ion-button>
      </ion-slide>

      <ion-slide>
        <p>Second slide</p>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
