ion-content ion-toolbar {
  --background: translucent;
}

#buttons{
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  height: 75%;
}

ion-button{
  font-size: 25px;

}

ion-content{
  text-align: center;
  font-size: 45px;
}