<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img id="logo" src="assets/img/stocky-logo.png" alt="App Logo" />
    </ion-title>
    <a (click)="logout()">Log out</a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="slides">
    <ion-slides pages>
      <ion-slide *ngFor="let shoe of tradeableShoes">
        <img src="{{ shoe.shoeUrl }}" alt="Jordan 1" />
        <p>{{ shoe.shoeName }}, {{ shoe.condition }}</p>
        <ion-select placeholder="Trade Options">
          <ion-select-option *ngFor="let shoe of userShoes"
            >{{ shoe.shoeName }}</ion-select-option
          >
          <ion-select-option disabled *ngIf="userShoes.length === 0"
            >You have no shoes to trade</ion-select-option
          >
        </ion-select>
        <ion-button (click)="createTrade()">Trade</ion-button>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
