ion-content ion-toolbar {
  --background: translucent;
}

ion-content{
  text-align: center;
  font-size: 45px;
}
#login{
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding-top: 15px;
}