<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img id="logo" src="assets/img/stocky-logo.png" alt="App Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Trade Requests</h3>
  <ion-list>
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable>
          Delete
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label (click)="showRequest()">Request 1</ion-label>
      </ion-item>

      <ion-item>
        About:
        <ion-card>
          <p>
            Nicholas Jones: We started the design phase prior to the
            implementation of the app by using Adobe Xd to create a general
            layout of the app. After creating a sufficient layout, we divided up
            the work in half so that each team member did their fair share of
            work. I took on part of the login page, the browse page, and the
            trade request page.
          </p>
          <p>
            Farid Salau: After we designed the app using Adobe XD, I took on the
            role of creating the login page and the profile tab. As it comes to
            phase one of this project, I implemented the on click alert boxes
            that detail what the next steps are. I also add the select and
            checkboxes on the profile tab that will enable users to add
            information about themselves. Lastly, I created the logo and defined
            our color scheme in the variables.scss file for both the dark and
            light modes and I add the logos for the tabs.
          </p>
        </ion-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable>
          Accept
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
