<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Leave the url link of your shoes in the input field below.</p>
  <ion-input type="text" placeholder="Url" [(ngModel)]="shoe.url"></ion-input>

  <ion-input
    name="shoe-name"
    type="text"
    placeholder="Shoe Name"
    [(ngModel)]="shoe.name"
  >
  </ion-input>

  <ion-item>
    <ion-label>Shoe condition</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="shoe.condition">
      <ion-select-option value="Beat">Beat</ion-select-option>
      <ion-select-option value="Worn">Worn</ion-select-option>
      <ion-select-option value="Slightly worn">Slightly Worn</ion-select-option>
      <ion-select-option value="Mint">Mint</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="submit()">Submit</ion-button>
</ion-content>
