<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input
    type="file"
    name="avatar"
    accept="image/png, image/jpeg"
    (change)="onFileSelected($event)"
  />

  <!-- You must create a shoe object in the ts file in order to use shoe.name -->
  <ion-input
    name="shoe name"
    type="text"
    placeholder="Shoe Name"
    [(ngModel)]="shoe.name"
  >
  </ion-input>

  <ion-item>
    <ion-label>Shoe condition</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="b">Beat</ion-select-option>
      <ion-select-option value="w">Worn</ion-select-option>
      <ion-select-option value="sw">Slightly Worn</ion-select-option>
      <ion-select-option value="m">Mint</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
